/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .trigger .item .line {width:270px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header ul.main-nav li.link a, header ul.main-nav li .button {margin-left:20px;}
	.partners .slick-slide img {opacity:1;} 
	.infographic ul li {font-size: 1.8rem;padding-right: 70px;}
	.infographic ul li:before {right:15px;width:40px;} 
	.trigger .item .line {width: 230px;}
	.page h1 {font-size: 30px;}
}

/*Test*/
    
@media only screen and (max-width : 992px) {
    header ul.main-nav {font-size: 14px}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header .col-md-9 {display:none;}
	.toggle-mnu {display:block;}
	header ul, footer ul.social {-webkit-box-pack: center!important;-ms-flex-pack: center!important;justify-content: center!important;}
	header ul li .button {margin-top:60px;margin-bottom:40px;}
	footer {padding:44px 0;text-align:center}
	footer .logo {margin-bottom:36px;}
	footer ul.social {margin-top:45px;}
	footer ul.social li a {margin:0 10px;}
	footer ul.social li a svg {width:38px;height:38px;}
	.page h1 {font-size:3.8rem;}
	.pagetitle {font-size:2.6rem;}
	.promo .item {padding:80px 0}
	.promo .item h1 {font-size:5rem}
	.promo .item p {font-size:1.8rem}
	.trigger .item {margin-top: 15px;margin-bottom: 15px;}
	.partners {padding: 48px 0 48px;}
	.partners h2 {margin-bottom:50px}
	.infographic ul li {
		float:none;
		display:block;
		padding-bottom:36px;
	}
	.infographic ul li:before {
		width:3px;
		height:20px;
		right:auto;
		left:20px;
		top:51px;
	}
	.page h1 {font-size: 30px;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
	.trigger .item .line {width:190px;}
	.page h1 {font-size: 30px;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
	.trigger .item h5 {font-size:3rem}
	.trigger .item p {font-size:1.6rem}
	.page h1 {font-size: 30px;}
}

@media screen and (max-width:900px) {
		p {font-size: 17px;}
		.page h1 {font-size: 30px;}
}